<!DOCTYPE html>
<html>
<head>
	<title>Authentification | Sah-Tech</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="/stylesheets/wave.png">
	<div class="container">
		<div class="img">
			<img src="/stylesheets/bg (3).png">
		</div>
		<div class="login-content">
			<form action="auth" method="POST">
				<img src="/public/stylesheets/logoapp.jpg">
				<h2 class="title">Bienvenue</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Nom d'utilisateur</h5>
           		   		<input type="text" for="username" name="username" class="input" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Mot de passe</h5>
           		    	<input type="password" for="password" name="password" class="input" required>
            	   </div>
            	</div>
            	<a href="#">Mot de passe oublié?</a>
            	<input type="submit" class="btn" value="Se connecter">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/fichier js/index.js"></script>
</body>
</html>
